.App {
	text-align: center;
	height: 100vh;
	max-height: 100vh;
	overflow: auto;
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	font-family: 'Ubuntu', sans-serif;
}

.loading {
	opacity: 0.5;
	background: lightgray;
	pointer-events: none;
}

/** View App State */
.fixedHeightContainer {
	padding: 3px;
	background: gray;
}

.content {
	height: 224px;
	overflow: auto;
	background: #fff;
}
